/***********************************************************************
Description:	The IE7 fixes stylesheet of the (website name) website
Project:	(website URL)
HTML:		(developer name)
Graphics:	(designer name)
Created:	(year).(month).(day)
Updated:	(year).(month).(day)
***********************************************************************/

