<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{embed="inc/meta"}
{embed="inc/_styles"}
</head>

<body class="subpage"id='{exp:channel:entries}{url_title}{exp:channel:entries}'>
{embed="/inc/header"}
	
			<div id="content">
				<div id='content_left'>

					<div id='sub_image'>
{embed='/inc/sub_image'}
						
					</div>
					<div id='text_area'>
				
{exp:channel:entries}
					<h1>{title}</h1>
						{content}
{/exp:channel:entries}
{exp:channel:entries channel='strategic_partners' dynamic='off' entry='43'}
<table id='tbl_board'>
{strategic_partners}
<tr><td valign="top" width="140"><img src='{p_logo}' alt="" /></td><td valign="top" width="400"><strong>{p_name}</strong><br />{p_desc}</td></tr>
{/strategic_partners}
</table>
{/exp:channel:entries}
					</div>
				</div>
				<div id="content_right">
{embed="inc/about_submenu"}
{embed="/inc/3-button_box"}
{embed="inc/right_test}
				</div>
			</div>
{embed="/inc/affiliations"}
{embed="inc/footer"}
{embed="inc/_scripts" add="j/jquery.innerfade"}
		<script type="text/javascript">
		   $(document).ready(
					function(){

						
						$('ul#aff_images').innerfade({
							speed: 1000,
							timeout: 5000,
							type: 'sequence',
							containerheight: '108px'
						});
						
				});
  		</script>


</body>
</html>