					<div id='right_box'>
{exp:channel:entries channel="btn_text" dynamic="off" entry_id='53'}
{btn_text_home}
						<a href="/payment" id='btn_payment'><div class='big_btn_text'>{btn_payment}</div><div class='sm_btn_text'>{btn_payment_2}</div></a>
						<a href="/compliance" id='btn_compliance'><div class='big_btn_text'>{btn_compliance}</div><div class='sm_btn_text'>{btn_compliance_2}</div></a>
						<a href="https://www.hsifin.com/login.asp" id='btn_clientcenter' target='_blank'><div class='big_btn_text'>{btn_client}</div><div class='sm_btn_text'>{btn_client_2}</div></a>
{/btn_text_home}
{/exp:channel:entries}
					</div>