					<div id='sub_menu'>
						<ul>
							<li><a href="/about/" {if segment_1=="about" && segment_2 == ""} class="here"{/if}>About</a></li>														
							<li><a href="/about/our_mission" {if segment_2 == "our_mission"} class="here"{/if}>Our Mission, Vision and Values</a></li>
							<li><a href="/about/board_of_directors" {if segment_2 == "board_of_directors"} class="here"{/if}>Board of Directors</a></li>
							<li><a href="/about/affiliations" {if segment_2 == "affiliations"} class="here"{/if}>Affiliations</a></li>
							<li><a href="/about/strategic_partners" {if segment_2 == "strategic_partners"} class="here"{/if}>Strategic Partners</a></li>
							<li><a href="/about/testimonials" {if segment_2 == "testimonials"} class="here"{/if}>Testimonials</a></li>

						</ul>
					
					</div>