			<div id="footer">
				<table id='tbl_footer'>
					<tr>
						<td valign="top">
							<ul><h3>Get Started.</h3>
							<li><a href="">About Us</a></li>
							<li><a href="">Careers</a></li>
							<li><a href="">Site Map</a></li>
							<li><a href="">Create an Account</a></li>
							<li><a href="">Login</a></li>
							</ul>
						</td>
						<td valign="top">
							<ul><h3>About Us.</h3>
							<li><a href="">Services</a></li>
							<li><a href="">Our Company</a></li>
							<li><a href="">Testimonials</a></li>
							<li><a href="">Privacy Policy</a></li>
							<li><a href="">Contact Us</a></li>
							</ul>
						</td>
						<td valign="top">
							<ul><h3>Resources.</h3>
							<li><a href="">Make a Payment</a></li>
							<li><a href="">Compliance</a></li>
							<li><a href="">Client Resource Center</a></li>
							<li><a href="">Blog</a></li>
							<li><a href="">Help</a></li>
							<li><a href="">Events</a></li>
							</ul>
						</td>
						<td valign="top">
							<ul><h3>Services.</h3>
							<li><a href="">Virtual Business Office</a></li>
							<li><a href="">Payment Monitoring</a></li>
							<li><a href="">Bad Debt Collections</a></li>
							<li><a href="">Find'Em Returned Mail</a></li>
							<li><a href="">AR Projects and Staffing</a></li>
							</ul>
						</td>
						<td valign="top">
							<ul><h3>The HSI Difference.</h3>
							<li><a href="">Solely Healthcare Recoveries</a></li>
							<li><a href="">Customer Service Approach</a></li>
							<li><a href="">Experienced Tenured Staff</a></li>
							<li><a href="">Strong Commitment to Compliance</a></li>
							<li><a href="">Every Call Recorded</a></li>
							<li><a href="">Managable Queue Sizes</a></li>
							</ul>
						</td>
					</tr>
				</table>
				<table id='tbl_copy'>					
					<tr>
					<td><h3>About This Page.</h3>HSI Financial Services offers innovative solutions for managing and resolving healthcare accounts receivable. For over a quarter of a century HSI has been committed to developing and providing solutions designed to maximize net return, improve cash collections, and optimize revenue performance – all while maintaining the utmost integrity and customer service to the patient community.</td>
					</tr>
					<tr><td>&nbsp;</td></tr>
					<tr>
					<td colspan="5" style="color:#85c2d8">&copy;2010 HSI Financial Services, LLC. All Rights Reserved. | <a href="">Privacy Policy</a> | <a href="">Powered by W3BG</a></td>
					</tr>
				</table>

			
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	dropdowncontent.init("menu_about", "right-bottom", 100, "mouseover");
</script>