					<div id="form_box">
						<div id='form_box_top'>
{exp:channel:entries channel="btn_text" dynamic="off" entry_id='53'}
{btn_text_others}							
<div id='more_info'><div class='big_btn_text' style='font-size:20px;'>{btn_join}</div></div>
{/btn_text_others}
{/exp:channel:entries}											
						</div>
						<div id='form_box_mid'>
						<p style='font-size:13px; line-height:100%'>We appreciate your interest in our employment opportunities. Please fill out the profile form, in it’s entirety, and it will be reviewed by our Recruiting Department.</p>

<p style='font-size:13px; line-height:100%'>All candidates are pre-screened via an aptitude assessment, drug test and criminal background check.</p>

<p style='font-size:13px; line-height:100%'><i>Thank you for your submission!</i></p>
<form name="form_info" id='form_info' action="/custom/join_end.php" method="post" enctype="multipart/form-data">
<input type="text" name="fname" value="First Name" class="blue" size="18"  id="fname" onclick="if (this.value == 'First Name') { this.value = ''; }" onfocus="if (this.value == 'First Name') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'First Name'; }"/>
<input type="text" name="lname" value="Last Name" class="blue" size="18" id="lname" onclick="if (this.value == 'Last Name') { this.value = ''; }" onfocus="if (this.value == 'Last Name') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Last Name'; }"/>
<input type="text" name="email" value="Email Address" class="blue" size="18" id="email_site"  onclick="if (this.value == 'Email Address') { this.value = ''; }" onfocus="if (this.value == 'Email Address') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Email Address'; }" />
<input type="text" name="phone" value="Best Contact Number" class="blue" size="18" id="phone" onclick="if (this.value == 'Best Contact Number ') { this.value = ''; }" onfocus="if (this.value == 'Best Contact Number') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Best Contact Number'; }"/>	
<input type="text" name="job" value="Job Applying For" class="blue" size="18" id="job"  onclick="if (this.value == 'Job Applying For') { this.value = ''; }" onfocus="if (this.value == 'Job Applying For') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Job Applying For'; }" /><br />
<input name="MAX_FILE_SIZE" type="hidden" value="11534336" />
Upload Your Resume<br />
<input name="resume"  type="file" id="resume"  class='blue' size="36" maxlength="200" value="Upload Resume"  /><br />
<input type="submit" name="submit" id='btn_submit' value="" style='float:left;margin-bottom:20px;margin-top:0px;' />			
</form>
<div style="margin-left:-20px"><img src='/images/ee2/form_bg_divider.png' alt="" /></div>
<div id='notice'>
<p><strong>IMPORTANT NOTICE</strong></p>

<p>HSI Financial Services, LLC is a debt collector.  To ensure compliance with federal collection laws, we do not communicate with patients via e-mail. If you have received a notice regarding an account referred to HSI Financial Services, LLC, please contact a member of our professional collection staff by calling (770) 850-7450, or toll free 800-282-3108. Written inquiries should be addressed to:</p>

<p>HSI Financial Services, LLC<br  />
Post Office Box 723537<br />
Atlanta, GA 31139</p>

<p>Please be sure to include your name, address, name of your creditor, and account number on all written inquiries.</p>
</div>
						
						</div>
						<div id='form_box_bot'>
						</div>
				
					</div>
						