<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>HSI</title>    

{embed="inc/meta"}

{embed="inc/cssReference"}
<style>
#video_area {
	height:359px;
	width: 1005px;
	background-image: none;
	background-repeat:no-repeat;
}
</style>

</head>

<body id='homepage'>
		
{embed="/inc/header"}
			<div id='video_area'>
            {embed="/inc/slider"}
			</div>
			<div id="content">
				<div id='content_left'>
					<div id='text_area'>

					</div>
				</div>
				<div id="content_right">
{embed="inc/3-button_box"}
				</div>
			</div>
{embed="inc/affiliations"}
{embed="inc/footer"}
	
{embed="inc/jsReference"}
	    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/ajax/js/jquery.easing.1.2.js"></script>
	  <script src="/ajax/js/jquery.anythingslider.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/ajax/css/slider.css" type="text/css" media="screen" />
    <script type="text/javascript">
    
    
    </script>	
		
</body>
</html>